<div ng-show="showParam">
  <div id="bg">
    <div ng-bind-html="imgStr"></div>
  </div>
  <div class="header">  
    <div class="text-vertical-center">
        <h1>Start your adventure!</h1>
        <div class="container">
          <div class="row">
            <div class="col-xs-1">
              
            </div>
            <div class="col-xs-4">
              <input type="text" class="form-control" placeholder="Start location" ng-model="query.startLoc" typeahead="location as location.name for location in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-template-url="typeaheadLocations.html" typeahead-wait-ms="300" class="form-control" />
            </div>
            <div class="col-xs-4">
                <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="query.startDate" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
            </div>
            <div class="col-xs-2">
              <a href="">
                <button type="button" class="btn btn-primary btn-block" ng-click="searchFirst()" layout-align="center">Search</button>
              </a>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>
        <br>
    </div>
  </div>
</div>