
<div class="container">
  <div class="row">
		<div class="col-md-12">
      <form name="newStop">
        <div class="col-xs-4 control-group" ng-class="{'has-error': newStop.duration.$invalid}">
          <input type="number" min="3" max="60" name="duration" class="form-control" placeholder="Duration" ng-model="stops.dur" required/>
        </div>
        <div class="col-xs-7">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Destination" ng-model="stops.loc" name="loc" typeahead="location as location.name for location in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-template-url="typeaheadLocations.html" typeahead-wait-ms="300" class="form-control" typeahead-on-select="makevalid($item, $model, $label)" required/>
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" ng-click="addStop()" ng-disabled="newStop.$invalid">
                Add
              </button>
            </span>
          </div>
        </div>
        <div class="col-xs-1">
          <div class="input-group">
            <button class="btn btn-primary" type="submit" ng-click="search()">
              Search
            </button>
          </div>
        </div>  
      </form>
		</div>
  </div>
</div>

<div class="bottom-box">
  Total price for trip: {{route.totalPrice}}!
</div>



<div id='google-map-wrapper'>
	<div id='map-canvas'></div>
</div>


<script type="text/ng-template" id="typeaheadLocations.html">
  <a class='clearfix'>
      <span class='airport-location' ng-bind='match.model.name'></span> <span ng-if='!match.model.children' class='label label-info airport-code' ng-repeat='airport in match.model.airports' ng-bind='airport'></span>
      <span class='float-right' ng-bind='match.model.country'></span>
      <ul class='sublocation'>
        <li ng-repeat='subLocation in match.model.children'>
          <i class="glyphicon glyphicon-triangle-right"></i>
          {{ subLocation.name }} 
          <span class='label label-info airport-code'>{{ subLocation.airports[0] }}</span>
        </li>
      </ul>
      
  </a>
  <li class='divider autocomplete-divider'></li>
</script>






