
<div class="container cont">
  <div class="row">
    <div class="col-md-12">
      <form name="newStop">
        <div class="col-xs-5 control-group" ng-class="{'has-error': newStop.loc.$invalid}">
					<input type="text" class="form-control" placeholder="Where do you want to go?" ng-model="stops.loc" name="loc" typeahead="location as location.name for location in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-template-url="typeaheadLocations.html" typeahead-wait-ms="300" class="form-control" typeahead-on-select="makevalid($item, $model, $label)" required/>
          
        </div>
        <div class="col-xs-6">
          <div class="input-group" ng-class="{'has-error': newStop.duration.$invalid}">
            <input type="number" min="3" max="60" name="duration" class="form-control" placeholder="For how many days?" ng-model="stops.dur" required/>
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit" ng-click="addStop()" ng-disabled="newStop.$invalid">
                Add to Trip
              </button>
            </span>
          </div>
        </div>
      </form>
        <div class="col-xs-1">
          <div class="input-group">
            <button class="btn btn-primary" type="submit" ng-click="search()">
              Create trip
            </button>
          </div>
        </div>  
      
    </div>
  </div>
</div>

<div class="bottom-box show-hide" ng-show="route.totalPrice>0" ng-animate=" 'animate' ">
  <div id="total-price">Total price for trip: {{route.totalPrice | number: 0}} ISK!</div>
</div>


<toaster-container toaster-options="{'position-class': 'toast-top-left'}"></toaster-container>


<div id='google-map-wrapper'>
  <div id='map-canvas'></div>
</div>


<script type="text/ng-template" id="typeaheadLocations.html">
  <a class='clearfix'>
      <span class='airport-location' ng-bind='match.model.name'></span> <span ng-if='!match.model.children' class='label label-info airport-code' ng-repeat='airport in match.model.airports' ng-bind='airport'></span>
      <span class='float-right' ng-bind='match.model.country'></span>
      <ul class='sublocation'>
        <li ng-repeat='subLocation in match.model.children'>
          <i class="glyphicon glyphicon-triangle-right"></i>
          {{ subLocation.name }} 
          <span class='label label-info airport-code'>{{ subLocation.airports[0] }}</span>
        </li>
      </ul>
      
  </a>
  <li class='divider autocomplete-divider'></li>
</script>





