.angular-google-map-container { height: 400px; }
.float-right {
  float: right;
}
.clearfix:after {
  content:"";
  display:table;
  clear:both;
}
.airport-code { 
  margin-right: 2px; 
}
.airport-location {
  font-size: 1.2em;
}
.sublocation {
  padding-left: 1.3em;
}
.autocomplete-divider {
  margin: 2px 0 !important;
}
 
.container {
	position: absolute;
	top: 5%;
	left: 25%;
	width: 50%;
	padding: auto;
	z-index: 10;
	/*background-color: red;*/
}

button{
	display: inline;
}

#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}
#google-map-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #e5e3df;
}

.bottom-box {
  
}

.remove-marker-button {
  float: right;
}

.plane {
  -ms-transform: rotate(7deg); /* IE 9 */
  -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}